![for sale image, from https://time.com/5835778/selling-home-coronavirus/](https://api.time.com/wp-content/uploads/2020/05/selling-home-coronavirus.jpg?w=800&quality=85)

# Project Title

## Overview

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

## Business Problem

Summary of the business problem you are trying to solve, and the data questions that you plan to answer to solve them.

Questions to consider:

- Who are your stakeholders?
- What are your stakeholders' pain points related to this project?
- Why are your predictions important from a business perspective?

## Data Understanding

Describe the data being used for this project.

Questions to consider:

- Where did the data come from, and how do they relate to the data analysis questions?
- What do the data represent? Who is in the sample and what variables are included?
- What is the target variable?
- What are the properties of the variables you intend to use?

In [17]:
import pandas as pd
df = pd.read_csv('data/kc_house_data.csv')

In [18]:
df.dropna(subset = ['view'],inplace = True)
df['waterfront'] = df['waterfront'].fillna('NO')
df['yr_renovated']= df['yr_renovated'].fillna(0.0)
df['bedrooms'].replace(33,3, inplace = True)
df['sqft_basement'] = df['sqft_living'] - df['sqft_above']
df.drop(['lat','long'],1, inplace =  True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21534 entries, 0 to 21596
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21534 non-null  int64
 1   date           21534 non-null  object
 2   price          21534 non-null  float64
 3   bedrooms       21534 non-null  int64
 4   bathrooms      21534 non-null  float64
 5   sqft_living    21534 non-null  int64
 6   sqft_lot       21534 non-null  int64
 7   floors         21534 non-null  float64
 8   waterfront     21534 non-null  object
 9   view           21534 non-null  object
 10  condition      21534 non-null  object
 11  grade          21534 non-null  object
 12  sqft_above     21534 non-null  int64
 13  sqft_basement  21534 non-null  int64
 14  yr_built       21534 non-null  int64
 15  yr_renovated   21534 non-null  float64
 16  zipcode        21534 non-null  int64
 17  sqft_living15  21534 non-null  int64
 18  sqft_lot15     21534 non-null  int64
dtypes: float64(4), int64(10), object(5)
memory usage: 3.3+ MB

## Data Preparation

Describe and justify the process for preparing the data for analysis.

Questions to consider:

- Were there variables you dropped or created?
- How did you address missing values or outliers?
- Why are these choices appropriate given the data and the business problem?

In [19]:
y = df["price"]
X = df.drop("price", axis=1)
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [20]:
X_train

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15
2226,8651441620,10/23/2014,3,1.50,1160,5200,1.0,NO,NONE,Very Good,7 Average,1160,0,1970,0.0,98042,1170,5200
3007,1342300265,10/1/2014,4,3.25,2470,4760,1.5,NO,NONE,Very Good,9 Better,1890,580,1906,0.0,98112,2470,4760
3806,1250202430,6/11/2014,3,1.50,2210,6300,1.5,NO,NONE,Very Good,8 Good,2210,0,1916,0.0,98144,2700,6300
6776,8011100005,1/27/2015,4,2.50,2250,6064,2.0,NO,NONE,Average,8 Good,2250,0,2005,0.0,98056,1520,7840
16207,1509700050,5/23/2014,4,2.50,1960,9898,2.0,NO,NONE,Average,8 Good,1960,0,2001,0.0,98030,2130,7662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11323,5104532030,3/6/2015,4,3.50,3400,5222,2.0,NO,NONE,Average,9 Better,3400,0,2005,0.0,98038,3190,5326
12006,8964800390,5/8/2014,3,1.75,2430,12757,1.0,NO,AVERAGE,Good,8 Good,1340,1090,1952,0.0,98004,2930,12450
5409,8058500005,2/3/2015,2,1.00,1620,5400,1.0,NO,NONE,Average,6 Low Average,920,700,1926,0.0,98125,1540,7245
866,3955900830,4/27/2015,3,2.50,3460,6590,2.0,NO,NONE,Average,7 Average,3460,0,2001,0.0,98056,2490,6312
15848,8587400050,3/25/2015,3,2.75,2210,7660,1.0,NO,FAIR,Good,7 Average,1460,750,1968,0.0,98116,2110,8750

In [21]:
X_train.isna().sum()

id               0
date             0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [28]:
from sklearn.preprocessing import OrdinalEncoder
waterfront_train = X_train[['waterfront']]
encoder_waterfront = OrdinalEncoder()
encoder_waterfront.fit(waterfront_train)
waterfront_encoded_train = encoder_waterfront.transform(waterfront_train)
waterfront_encoded_train = waterfront_encoded_train.flatten()
X_train["waterfront"] = waterfront_encoded_train
X_train

<ipython-input-28-29562d47130a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train["waterfront"] = waterfront_encoded_train

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15,waterfont
2226,8651441620,10/23/2014,3,1.50,1160,5200,1.0,0.0,1160,0,1970,0.0,98042,1170,5200,0.0
3007,1342300265,10/1/2014,4,3.25,2470,4760,1.5,0.0,1890,580,1906,0.0,98112,2470,4760,0.0
3806,1250202430,6/11/2014,3,1.50,2210,6300,1.5,0.0,2210,0,1916,0.0,98144,2700,6300,0.0
6776,8011100005,1/27/2015,4,2.50,2250,6064,2.0,0.0,2250,0,2005,0.0,98056,1520,7840,0.0
16207,1509700050,5/23/2014,4,2.50,1960,9898,2.0,0.0,1960,0,2001,0.0,98030,2130,7662,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11323,5104532030,3/6/2015,4,3.50,3400,5222,2.0,0.0,3400,0,2005,0.0,98038,3190,5326,0.0
12006,8964800390,5/8/2014,3,1.75,2430,12757,1.0,0.0,1340,1090,1952,0.0,98004,2930,12450,0.0
5409,8058500005,2/3/2015,2,1.00,1620,5400,1.0,0.0,920,700,1926,0.0,98125,1540,7245,0.0
866,3955900830,4/27/2015,3,2.50,3460,6590,2.0,0.0,3460,0,2001,0.0,98056,2490,6312,0.0
15848,8587400050,3/25/2015,3,2.75,2210,7660,1.0,0.0,1460,750,1968,0.0,98116,2110,8750,0.0

In [23]:
from sklearn.preprocessing import OneHotEncoder
grade_train = X_train[['grade']]
ohe = OneHotEncoder(categories = 'auto', sparse=False, handle_unknown ='ignore')
ohe.fit(grade_train)
grade_encoded_train = ohe.transform(grade_train)
grade_encoded_train = pd.DataFrame(

    grade_encoded_train,
    
    columns=ohe.categories_[0],
   
    index=X_train.index
)

grade_encoded_train

,10 Very Good,11 Excellent,12 Luxury,13 Mansion,4 Low,5 Fair,6 Low Average,7 Average,8 Good,9 Better
2226,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3806,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6776,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
16207,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
11323,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
12006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5409,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
866,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
15848,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [24]:
from sklearn.preprocessing import OneHotEncoder
view_train = X_train[['view']]
ohe = OneHotEncoder(categories = 'auto', sparse=False, handle_unknown ='ignore')
ohe.fit(view_train)
view_encoded_train = ohe.transform(view_train)
view_encoded_train = pd.DataFrame(

    view_encoded_train,
    
    columns=ohe.categories_[0],
   
    index=X_train.index
)

view_encoded_train

       AVERAGE  EXCELLENT  FAIR  GOOD  NONE
2226       0.0        0.0   0.0   0.0   1.0
3007       0.0        0.0   0.0   0.0   1.0
3806       0.0        0.0   0.0   0.0   1.0
6776       0.0        0.0   0.0   0.0   1.0
16207      0.0        0.0   0.0   0.0   1.0
...        ...        ...   ...   ...   ...
11323      0.0        0.0   0.0   0.0   1.0
12006      1.0        0.0   0.0   0.0   0.0
5409       0.0        0.0   0.0   0.0   1.0
866        0.0        0.0   0.0   0.0   1.0
15848      0.0        0.0   1.0   0.0   0.0

[16150 rows x 5 columns]

In [25]:
from sklearn.preprocessing import OneHotEncoder
condition_train = X_train[['condition']]
ohe = OneHotEncoder(categories = 'auto', sparse=False, handle_unknown ='ignore')
ohe.fit(condition_train)
condition_encoded_train = ohe.transform(condition_train)
condition_encoded_train = pd.DataFrame(

    condition_encoded_train,
    
    columns=ohe.categories_[0],
   
    index=X_train.index
)

condition_encoded_train

       Average  Fair  Good  Poor  Very Good
2226       0.0   0.0   0.0   0.0        1.0
3007       0.0   0.0   0.0   0.0        1.0
3806       0.0   0.0   0.0   0.0        1.0
6776       1.0   0.0   0.0   0.0        0.0
16207      1.0   0.0   0.0   0.0        0.0
...        ...   ...   ...   ...        ...
11323      1.0   0.0   0.0   0.0        0.0
12006      0.0   0.0   1.0   0.0        0.0
5409       1.0   0.0   0.0   0.0        0.0
866        1.0   0.0   0.0   0.0        0.0
15848      0.0   0.0   1.0   0.0        0.0

[16150 rows x 5 columns]

## Modeling

Describe and justify the process for analyzing or modeling the data.

Questions to consider:

- How did you analyze the data to arrive at an initial approach?
- How did you iterate on your initial approach to make it better?
- Why are these choices appropriate given the data and the business problem?

In [26]:
X_train

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15,waterfont
2226,8651441620,10/23/2014,3,1.50,1160,5200,1.0,NO,NONE,Very Good,7 Average,1160,0,1970,0.0,98042,1170,5200,0.0
3007,1342300265,10/1/2014,4,3.25,2470,4760,1.5,NO,NONE,Very Good,9 Better,1890,580,1906,0.0,98112,2470,4760,0.0
3806,1250202430,6/11/2014,3,1.50,2210,6300,1.5,NO,NONE,Very Good,8 Good,2210,0,1916,0.0,98144,2700,6300,0.0
6776,8011100005,1/27/2015,4,2.50,2250,6064,2.0,NO,NONE,Average,8 Good,2250,0,2005,0.0,98056,1520,7840,0.0
16207,1509700050,5/23/2014,4,2.50,1960,9898,2.0,NO,NONE,Average,8 Good,1960,0,2001,0.0,98030,2130,7662,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11323,5104532030,3/6/2015,4,3.50,3400,5222,2.0,NO,NONE,Average,9 Better,3400,0,2005,0.0,98038,3190,5326,0.0
12006,8964800390,5/8/2014,3,1.75,2430,12757,1.0,NO,AVERAGE,Good,8 Good,1340,1090,1952,0.0,98004,2930,12450,0.0
5409,8058500005,2/3/2015,2,1.00,1620,5400,1.0,NO,NONE,Average,6 Low Average,920,700,1926,0.0,98125,1540,7245,0.0
866,3955900830,4/27/2015,3,2.50,3460,6590,2.0,NO,NONE,Average,7 Average,3460,0,2001,0.0,98056,2490,6312,0.0
15848,8587400050,3/25/2015,3,2.75,2210,7660,1.0,NO,FAIR,Good,7 Average,1460,750,1968,0.0,98116,2110,8750,0.0

In [27]:
X_train.drop("view", axis=1, inplace=True)
X_train.drop("condition", axis=1, inplace=True)
X_train.drop("grade", axis=1, inplace=True)

C:\Users\Derek\anaconda3\envs\learn-env\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

## Evaluation

The evaluation of each model should accompany the creation of each model, and you should be sure to evaluate your models consistently.

Evaluate how well your work solves the stated business problem. 

Questions to consider:

- How do you interpret the results?
- How well does your model fit your data? How much better is this than your baseline model? Is it over or under fit?
- How well does your model/data fit any modeling assumptions?

For the final model, you might also consider:

- How confident are you that your results would generalize beyond the data you have?
- How confident are you that this model would benefit the business if put into use?

### Baseline Understanding

- What does a baseline, model-less prediction look like?

In [7]:
# code here to arrive at a baseline prediction

### First $&(@# Model

Before going too far down the data preparation rabbit hole, be sure to check your work against a first 'substandard' model! What is the easiest way for you to find out how hard your problem is?

In [8]:
# code here for your first 'substandard' model

In [9]:
# code here to evaluate your first 'substandard' model

### Modeling Iterations

Now you can start to use the results of your first model to iterate - there are many options!

In [10]:
# code here to iteratively improve your models

In [11]:
# code here to evaluate your iterations

### 'Final' Model

In the end, you'll arrive at a 'final' model - aka the one you'll use to make your recommendations/conclusions. This likely blends any group work. It might not be the one with the highest scores, but instead might be considered 'final' or 'best' for other reasons.

In [12]:
# code here to show your final model

In [13]:
# code here to evaluate your final model

## Conclusions

Provide your conclusions about the work you've done, including any limitations or next steps.

Questions to consider:

- What would you recommend the business do as a result of this work?
- What are some reasons why your analysis might not fully solve the business problem?
- What else could you do in the future to improve this project (future work)?